# **Creating a DataFrame**

In [4]:
from pandas import DataFrame
Vehicles = {'Company': ['Mercedes E','Honda City','Corolla Altis','Corolla Altis','BMW X'],
'Amount': [15000,16000,17000,18000,20000],
'Year': [2010,2011,2012,2013,2014] }
df = DataFrame(Vehicles, columns= ['Company', 'Amount','Year'])

# **Statistics with Only One Column**

In [5]:
statistics_Acc = df['Amount'].describe()
print (statistics_Acc)

count        5.000000
mean     17200.000000
std       1923.538406
min      15000.000000
25%      16000.000000
50%      17000.000000
75%      18000.000000
max      20000.000000
Name: Amount, dtype: float64

# **Statistics With Only One Column in Integer**

In [6]:
statistics_integer = df['Amount'].describe().astype (int)
print (statistics_integer)

count        5
mean     17200
std       1923
min      15000
25%      16000
50%      17000
75%      18000
max      20000
Name: Amount, dtype: int64

# **Statistics With All Columns**

In [7]:
statistics=df.describe(include='all')
print (statistics)

              Company        Amount         Year
count               5      5.000000     5.000000
unique              4           NaN          NaN
top     Corolla Altis           NaN          NaN
freq                2           NaN          NaN
mean              NaN  17200.000000  2012.000000
std               NaN   1923.538406     1.581139
min               NaN  15000.000000  2010.000000
25%               NaN  16000.000000  2011.000000
50%               NaN  17000.000000  2012.000000
75%               NaN  18000.000000  2013.000000
max               NaN  20000.000000  2014.000000